{% extends "base.html" %}
    {% load static %}
    {% block links %}
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    {% endblock links %}
   
    {% block title %}app{% endblock title%}
        
    {% block main %}
            <div class="w-90 h-100 d-flex align-items-center justify-content-center">
                <h1 style="text-align: center; font-family: Roboto Mono, sans-serif">{{ status }}</h1>
                <h2 style="text-align: center; font-family: Roboto, sans-serif;">{{ description }}</h2>
            </div>
    {% endblock main%}
